<table class="table table-striped table-bordered">
  <thread>
    <tr>
      <th>Done?</th>
      <th>Info?</th>
      <th>Notified?</th>
      <th>Actions</th>
    </tr>
  </thread>
  <tr ng-repeat="party in vm.parties">
    <td>
      <!-- TODO: Checkbox to display party.don. -->
      <input ng-model="party.done" ng-change="vm.toggleDone(party)" type="checkbox">
    </td>
    <td>
      <div><strong>{{party.name}} ({{party.size}} people)</strong></div>
      <div>{{party.phone}}</div>
    </td>

    <td>
      <div>{{party.notified ? 'Yes' : 'No'}}</div>
    </td>


    <td>
      <!-- TODO: Button that sends a text message to this party -->
      <button ng-click="vm.sendTextMessage(party)" class="btn btn-success">Send SMS</button>
      <!-- TODO: Button that removes this party -->
      <button ng-click="vm.removeParty(party)" class="btn btn-danger">Remove</button>
    </td>
  </tr>
</table>

<br>
<!--
<div ng-repeat="party in vm.parties">
  Name: {{party.name}}
  <br>
  Phone: {{party.phone}}
  <br>
  Size: {{party.size}}
  <br>
</div>

<hr>

{{vm.newParty}}
<br>
{{vm.parties}}
-->